.weekly-plan-container {
  display: flex;
  background-color: black;

  aside.sidebar {
    width: 350px;
    height: 100vh;
    background-color: white;
    margin-top: 100px;
    box-shadow: 3px 3px 10px #888888;

    ul {
      list-style-type: none;

      li {
        margin-bottom: 15px;

        .btn {
          background-color: #ffff13;
          border-radius: 8px;
          color: #000;
          cursor: pointer;
          font-weight: medium;
          padding: 10px 15px;
          text-align: center;
          text-decoration: none;
          transition: 200ms;
          box-sizing: border-box;
          border: 0;
          font-size: 16px;
          user-select: none;
          margin: 0 10px;
          width: 250px;
          height: 50px;
          font-weight: bold;
          margin-top: 30px;
          box-shadow: 3px 4px 10px #888888;

          &:hover {
            background-color: #dddd24;
          }
        }
      }
    }
  }

  .main-content {
    flex: 1;
    padding: 20px;
    font-family: 'Montserrat Alternates', sans-serif;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .card {
      flex-basis: calc(50% - 20px);
      box-sizing: border-box;
      height: 200px;
      margin-bottom: 20px;
      border: 1px solid #ddd;
      border-radius: 5px;
      font-weight: medium;
      box-shadow: 3px 4px 10px #888888;
      padding: 20px;

      .card-image {
        width: 30%;
        img {
          width: 100%;
          height: auto;
        }
      }

      .card-content {
        flex: 1;
        padding: 20px;
      }
    }

    .generate-button,
    .generate-button:link,
    .generate-button:visited,
    .generate-button:hover,
    .generate-button:active {
      background-color: #ffff13;
      border-radius: 8px;
      color: black;
      cursor: pointer;
      text-align: center;
      text-decoration: none;
      transition: 200ms;
      box-sizing: border-box;
      width: 500px;
      height: 50px;
      font-weight: bold;
      margin-top: 30px;
      margin-bottom: 30px;
      line-height: 50px;
      margin-left: auto;
      margin-right: auto;
      display: block;
      font-size: 15px;
    }

    .generate-button:hover {
      background-color: #dddd24;
    }
  }
}
