.dashboard-container {
  display: flex;
  background-color: rgb(255, 254, 254);
  margin-top: -20px;

  .tab-container {
    .tabs {
      display: flex;
      justify-content: center;
      width: 100%;
    }

    .tab {
      padding: 25px;
      background-color: lightgray;
      cursor: pointer;
      border-radius: 10px;
      margin-left: -12px;
      border-right: 1px solid black;
      &.active {
        background-color: #ffff13;
        color: black;
        z-index: 30;
      }
    }

    .content {
      border: 0px solid lightgray;
      padding: 10px;
      .tab-content {
        color: black;
        display: none;
        &.active {
          display: block;
        }
      }
    }
  }

  aside.sidebar {
    position: fixed;
    width: 250px;
    height: 100%;
    background-color: white;
    margin: 0 auto;
    box-shadow: 3px 3px 10px #888888;

    ul {
      list-style-type: none;

      li {
        margin-bottom: 15px;

        .btn {
          background-color: white;
          border-radius: 8px;
          color: #000;
          cursor: pointer;
          font-weight: medium;
          padding: 10px 15px;
          text-align: center;
          text-decoration: none;
          transition: 200ms;
          box-sizing: border-box;
          border: 0;
          font-size: 16px;
          user-select: none;
          margin: 0 10px;
          width: 150px;
          height: 50px;
          font-weight: bold;
          margin-top: 30px;

          &.active {
            background-color: #ffff13;
          }

          &:hover {
            background-color: #ffff13;
          }
        }
        .btn-primary.active {
          background-color: #ffff13;
        }

      }
    }
  }

  .main-content {
    position: relative;
    width: calc(100% - 250px);
    left: 250px;
    padding: 20px;
    font-family: 'Montserrat Alternates', sans-serif;

    .card {
      display: flex;
      border: 1px solid #ddd;
      border-radius: 5px;
      margin-bottom: 20px;
      font-weight: medium;
      width: 80%;
      margin-left: 10%;
      margin-top: 5%;
      box-shadow: 3px 4px 10px #888888;
      transition: height 2s ease;

      .card-image {
        width: 30%;
        img {
          width: 100%;
          height: auto;
        }
      }

      .card-content {
        flex: 1;
      }
    }

    .generate-button,
    .generate-button:link,
    .generate-button:visited,
    .generate-button:hover,
    .generate-button:active {
      background-color: #ffff13;
      border-radius: 8px;
      color: black;
      cursor: pointer;
      text-align: center;
      text-decoration: none;
      transition: 200ms;
      box-sizing: border-box;
      width: 800px;
      height: 100px;
      font-weight: bold;
      margin-top: 30px;
      margin-bottom: 30px;
      line-height: 100px;
      margin-left: auto;
      margin-right: auto;
      display: block;
      font-size: 20px;
    }

    .generate-button:hover {
      background-color: #dddd24;
    }
  }
}


.bmi-position-wrapper {
  position: relative;
  width: 100%;
  .bmi-position {
    position: absolute;
    bottom: 5px;
    width: 20px;
    height: 20px;
  }
}
.dropdown-content {
  transition: height 0.5s ease;
  height: 0;
  overflow: auto;
}

.dropdown-content.content-expanded {
  height: 300px;
  animation: expand 0.7s ease;
}

@keyframes expand {
  0% {
    opacity: 0;
    height: 0;
  }
  100% {
    opacity: 1;
    height: 300px;
  }
  }
  }
}

.progress-container {
  padding: 24px;
  border: 2px solid rgb(224, 224, 224);
  border-radius: 12px;
  margin-bottom: 36px;
}

.progress {
  height: 50px;
  border-radius: 24px;
  font-size: 14px;
  margin: 28px 0;
}
