@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat+Alternates&display=swap');

body {
  background-image: image-url('background.png');
  margin: 0;
  padding: 0;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.my-container {
  max-width: 400px;
  margin: auto;
  padding: 20px;


  h1.text-center {
    text-align: center;
    font-family: "Raleway", sans-serif;
    font-weight: bold;
    margin-top: 24px;
    margin-bottom: 5px;
    color: black;
    font-size: 39px;
  }

  p.text-center {
    text-align: center;
    font-family: "Montserrat Alternates", sans-serif;
    color: white;
    margin-bottom: 40px;
  }

  .device-form {
    background-color: #ffffffe1;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 1200px;
    border-radius: 8px;
    width: 899px;
  }

  .form-actions button[type="submit"] {
    background-color: yellow;
    color: black;
    font-family: "Raleway", sans-serif;
  }

  .text-center a {
    display: block;
    margin-top: 10px;
    color: black;
  }

  .button-login {
    background-color: grey;
    color: black;
    font-family: "Montserrat Alternates", sans-serif;
  }

  main {
    flex: 1;
    padding-top: 50px;
  }
}

.button-yellow {
  color: black;
  background-color: yellow;
  width: 96%;
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: bold;
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.267);
  margin: 0 auto;
  padding: 15px 0px;
  border-radius: 12px;

  &:hover {
    background-color: #FFFFAD;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
  }
}

.button-black {
  color: #ffff13;
  background-color: black;
  width: 100%;
  font-family: "Montserrat Alternates", sans-serif;
  margin-left: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  text-decoration: none;
  font-weight: bold;
  height: 50px;
  line-height: 50px;

  &:hover {
    background-color: #FFFFAD;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
  }
}


h2 {
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  margin-top: 60px;
  color: white;
}

.form-inputs input[type="email"],
.form-inputs input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 4px;
  border-width: 2px;
}

.form-actions {
  text-align: center;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.form-actions button[type="submit"] {
  background-color: grey;
  color: black;
  font-family: "Montserrat Alternates", sans-serif;
  padding: 10px 20px;
  border-radius: 4px;
}

.text-center a {
  display: block;
  margin-top: 10px;
  color: black;
}

.shared-links {
  margin-top: 20px;
}


//FULL REGISTRATION FORM
.form-field {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  width: 400px;
}

.form-field input::placeholder {
  color: rgb(211, 211, 211);
}

.form-field:not(:first-child) {
  margin-top: 10px; /* Added margin-top to create space between fields */
}

.device-form {
  padding: 40px;
}

.full-width {
  width: 100%;
}

.form-label-text {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 500;
  color: black
}

.text-center {
  text-align: center;
}

.card {
  background-color: #f2f2f2; /* Changed from white to off-white grey */
  padding: 20px;
  width: 400px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.my-container.signup {
  display: flex;
  min-width: 1000px;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 50px;
  flex-grow: auto;
}

select {
background: white;
border: none;
height: 30px;

}
.names {
 width: 400px;
 .form-field {
  margin-bottom: 0px;
 }
 margin-bottom: 30px;
}

.name, .surname {
  width: 45%
}

.surname {
  margin-top: 0px !important
}

.form-actions {
  margin-left: 13px;
  border-radius: 6px;
}

.profile-microcopy {
  font-size: 22px;
  text-align: center;
  margin-bottom: 40px;
  margin-left: 55px;
  margin-right: 55px;
  margin-top: 40px;
}
