<h1>Videos</h1>
<div class="container">
  <div class="d-flex justify-content-center flex-wrap" style="gap: 1rem;">
    <% @videos.each do |video| %>
      <div class="video">
        <h3><%= video.title %></h3>
        <div class="video-thumbnail">
          <iframe width="560" height="315" src="<%= video.url %>" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </div>
      </div>
    <% end %>
  </div>
</div>
