<aside class="sidebar">
  <ul>
    <li><%= link_to 'Home', root_path, class: 'btn btn-primary' %></li>
    <li><%= link_to 'Dashboard', edit_user_path(current_user), class: 'btn btn-primary' %></li>
    <li><%= link_to 'Weekly Plans', weekly_plans_path, class: 'btn btn-primary' %></li>
    <li><%= link_to 'Videos', videos_path, class: 'btn btn-primary' %></li>
    <!-- Add more sidebar links or content as needed -->
  </ul>
</aside>
