<h2>Diet Plan</h2>
<h4>Breakfast</h4>
<p><%= @diet_plan_content["breakfast"] %></p>
<h4>Lunch</h4>
<p><%= @diet_plan_content["lunch"] %></p>
<h4>Dinner</h4>
<p><%= @diet_plan_content["dinner"] %></p>
<h4>Snack</h4>
<p><%= @diet_plan_content["snack"] %></p>
