<h2 style="color:black" class="align-self-start mb-5">Exercise Plan</h2>
 <% exercise_plan.day_plan_content.each.with_index(1) do |exercise, index| %>
    <h4><% exercise["name"] %></h4>
    <p><% exercise["instructions"] %></p>
<% end %>
