<div class="full-exercise-container">
  <h2 style="color:black" class="align-self-start mb-5"></h2>
  <% if exercise_plan.day_plan_content == "rest" %>
    <h2 class="rest-day-heading">REST DAY!</h2>
  <% else %>

    <% exercise_plan.day_plan_content.keys.each do |exercise_key| %>
      <% if exercise_plan.day_plan_content[exercise_key] %>
        <div class="exercise-container">
          <p><strong><%= exercise_plan.day_plan_content[exercise_key]["name"] %></strong></p>
          <p><%= exercise_plan.day_plan_content[exercise_key]["instructions"] %></p>
        </div>
      <% end %>
    <% end %>
  <% end %>
</div>
