<h2 style="color:black" class="align-self-start mb-5">Exercise Plan</h2>
  <ul>
    <% @exercise_plan_content.each_pair do |key, value| %>
      <li><strong><%= key.split("_").join(" ") %></strong> : <%= value %></li>
    <% end %>
  </ul>
