<!-- show.html.erb -->
<h1>Day Plan for <%= @day_plan.day_number %></h1>

<h2>Diet Plan</h2>
<p><%= @diet_plan.day_plan_content%></p>
  <!-- Display any other relevant meal information -->

<h2>Exercise Plan</h2>
<p><%= @exercise_plan.day_plan_content %></p>
  <!-- Display any other relevant exercise information -->

<!-- Add any other relevant information or UI elements as needed -->
