 <div class="top-section">
    <div class="hcontainer">
      <h1 class="primary-font">LEMON HEALTH & WELLNESS</h1>
      <h6 class="secondary-font">We generate health and fitness solutions based on your body metrics and tailored to your lifestyle goals</h6>

    </div>

    <div class="signup-bar">
      <a href="/profile/new"><button class="secondary-button">START YOUR HEALTH JOURNEY</button></a>
    </div>





    <div class="econtainer">
      <h6 class="secondary-font">Choose one of the options below to find out what we can do for you...</h6>
    </div>
    <div class="button-container">
      <a href="#weight-loss-card"><button class="primary-button">WEIGHT LOSS</button></a>
      <a href="#muscle-gain-card"><button class="primary-button">MUSCLE GAIN</button></a>
    </div>
    <div class="button-container">
      <a href="#healthy-routine-card"><button class="primary-button">HEALTHY ROUTINE</button></a>
      <a href="#olympics-ready-card"><button class="primary-button">OLYMPICS READY</button></a>
    </div>
</div>

<div class="bottom-section">
  <button data-controller="scroll-to-top" data-action="click->scroll-to-top#scrollToTop" data-scroll-to-top-target="scrollButton" id="myBtn" title="Go to top">Top</button>
  <div class="my-container">
    <div id="weight-loss-card" class="acard">
      <div class="card-image">
        <%= image_tag("weight-loss.png", alt: "Weight Loss") %>
      </div>
      <div class="card-content">
        <h2 class="h-font">WEIGHT LOSS</h2>
        <hr>
        <div class="secondary-font home-description">
          <ul class="mt-5">
            <li > Accurately calculate BMI and BMR to receive recommendations for realistic health goals.</li>
            <li>Personalised diet plan tailored to your needs.</li>
            <li>Custom workout plans based on your fitness level and preferences.</li></div>
            <hr>
          </ul>
      </div>
    </div>

    <div id="muscle-gain-card" class="bcard">
      <div class="card-image">
        <%= image_tag("muscle-gain.png", alt: "muscle gain") %>
      </div>
      <div class="card-content">
        <h2 class="h-font">MUSCLE GAIN</h2>
        <hr>
        <div class="secondary-font home-description">
        <ul class="mt-5">
         <li> Precisely calculated macro diet plan.</li>
          <li>Custom workout plans to maximise muscle gain.</li>
          <li>Tailored video selection and coaching feature.</li></div>
          <hr>
        </ul>
      </div>
    </div>

    <div id="healthy-routine-card" class="acard">
      <div class="card-image">
        <%= image_tag("lifestyle.png", alt: "healthy lifestyle") %>
      </div>
      <div class="card-content">
        <h2 class="h-font">HEALTHY ROUTINE</h2>
        <hr>
        <div class="secondary-font home-description">
          <ul class="mt-5">
            <li> Nutrition focused, balanced diet plan</li>
            <li>Varied exercise plan focused on longevity and wellness.</li>
            <li>Meditation and mindfulness guided videos.</li>
            <hr>
        </div>
        </ul>
      </div>
    </div>

    <div id="olympics-ready-card" class="bcard">
      <div class="card-image">
        <%= image_tag("olympics.png", alt: "olympics ready") %>
      </div>
      <div class="card-content">
        <h2 class="h-font">OLYMPICS READY</h2>
        <hr>
        <div class="secondary-font home-description">
          <ul class="mt-5">
          <li> Complete blueprint to become an Olympian.</li>
            <li>Specialised workout plans rooted in the biomechanics and sports science.</li>
            <li>Exercises to optimise mental conditioning.</li>
            <hr>
        </div>

        </ul>
        </p>
      </div>
    </div>
  </div>
</div>
