 <div class="top-section">
    <div class="hcontainer">
      <h1 class="primary-font">LEMON HEALTH SOLUTIONS</h1>
      <h6 class="secondary-font">Through the magic of artificial intelligence we generate health and fitness solutions for different goals.</h6>

    </div>

    <div class="signup-bar">
      <a href="/profile/new"><button class="secondary-button">START YOUR HEALTH JOURNEY</button></a>
    </div>





    <div class="econtainer">
      <h6 class="secondary-font">Choose one of the options below to find out what we can do for you...</h6>
    </div>
    <div class="button-container">
      <a href="#weight-loss-card"><button class="primary-button">WEIGHT LOSS</button></a>
      <a href="#muscle-gain-card"><button class="primary-button">MUSCLE GAIN</button></a>
    </div>
    <div class="button-container">
      <a href="#healthy-routine-card"><button class="primary-button">HEALTHY ROUTINE</button></a>
      <a href="#olympics-ready-card"><button class="primary-button">OLYMPICS READY</button></a>
    </div>
</div>

<div class="bottom-section">
  <button data-controller="scroll-to-top" data-action="click->scroll-to-top#scrollToTop" data-scroll-to-top-target="scrollButton" id="myBtn" title="Go to top">Top</button>
  <div class="my-container">
    <div id="weight-loss-card" class="acard">
      <div class="card-image">
        <%= image_tag("weight-loss.png", alt: "Weight Loss") %>
      </div>
      <div class="card-content">
        <h2 class="h-font">WEIGHT LOSS</h2>
        <hr>
        <p class="secondary-font">
        <ul>
         <li> Weight loss methods now focus on holistic approaches, combining a balanced diet, regular exercise, and mental health practices.</li>
          <li>Emphasis is placed on sustainable lifestyle changes, rather than strict diets or intense workout plans.</li>
          <li>Personalized meal plans favoring whole foods, diverse exercise regimes, and mental health practices like mindfulness are central to these approaches.</li>
          <li>Digital technology, including fitness apps, virtual coaching, and wearable devices, supports real-time tracking, personalized guidance, and motivation.</li></p>
        </ul>
      </div>
    </div>

    <div id="muscle-gain-card" class="bcard">
      <div class="card-image">
        <%= image_tag("muscle-gain.png", alt: "muscle gain") %>
      </div>
      <div class="card-content">
        <h2 class="h-font">MUSCLE GAIN</h2>
        <hr>
        <p class="secondary-font">
        <ul>
         <li> Modern muscle gain methods involve understanding individual body composition, metabolism, and nutritional needs to create personalized plans.</li>
          <li>Exercise diversity, adequate rest, and recovery are emphasized, alongside strength training, to promote safe and effective muscle growth.</li>
          <li>Nutrition focuses on balanced intake of proteins, carbohydrates, healthy fats, and micronutrients, instead of solely emphasizing protein.</li>
          <li>Technology, like fitness apps and wearables, helps in precise tracking and progress measurement, while mental health is recognized as an essential factor.</li></p>
        </ul>
      </div>
    </div>

    <div id="healthy-routine-card" class="acard">
      <div class="card-image">
        <%= image_tag("lifestyle.png", alt: "healthy lifestyle") %>
      </div>
      <div class="card-content">
        <h2 class="h-font">HEALTHY ROUTINE</h2>
        <hr>
        <p class="secondary-font">
        <ul>
         <li> Modern healthy lifestyle embraces a holistic approach, incorporating physical, emotional, and mental wellbeing, rather than just diet and exercise.</li>
          <li>Balanced diet, regular physical activity, adequate rest, and good sleep hygiene form the backbone of this approach.</li>
          <li>Emphasis is given to mental health with practices like mindfulness, meditation, stress management, and maintaining strong social connections and work-life balance.</li>
          <li>The advent of digital tools like fitness apps, wearable devices, and telehealth services facilitates efficient health monitoring and management.</li></p>
        </ul>
      </div>
    </div>

    <div id="olympics-ready-card" class="bcard">
      <div class="card-image">
        <%= image_tag("olympics.png", alt: "olympics ready") %>
      </div>
      <div class="card-content">
        <h2 class="h-font">OLYMPICS READY</h2>
        <hr>
        <p class="secondary-font">
        <ul>
         <li> Preparing for the Olympics in the modern age combines technology, rigorous training, and specialized nutrition plans, all rooted in sports science.</li>
          <li>Athletes use wearables and AI-driven analytics to monitor progress, optimize sleep patterns, and refine biomechanics.</li>
          <li>Personalized and periodized training regimes are designed, using data and biomechanical analysis for maximum efficiency and injury prevention.</li>
          <li>Nutritionists create tailored diet plans for performance optimization and recovery, while mental conditioning strategies help handle the high pressures of the Olympics.</li></p>
        </ul>
        </p>
      </div>
    </div>
  </div>
</div>
