<h1>Day Plans</h1>

<% if @weekly_plan.day_plans.any? %>
  <% @day_plans.each do |plan| %>

    <div class="card d-flex">
      <p><%= link_to "Day #{plan.day_number}", weekly_plan_day_plan_path(@weekly_plan, plan) %></p>
      <p><%= link_to "Diet Plan", diet_plan_weekly_plan_day_plan_path(@weekly_plan, plan) %></p>
      <p><%= link_to "Exercise Plan", exercise_plan_weekly_plan_day_plan_path(@weekly_plan, plan) %></p>
    </div>
  <% end %>

  <% if @next_plan %>
    <%= link_to "Next Plan", weekly_plan_path(@next_plan) %>
  <% end %>
<% else %>
  <p style="color: white">Day plans being generated</p>
<% end %>
