<div class="dashboard-container">
  <!-- Sidebar -->
  <div class="sidebar" id="sidebar">
    <%= render 'shared/sidebar' %>
  </div>

  <%# raise %>

  <!-- Main Content -->
  <div class="main-content" id="content">
    <%= render 'show_content' %>
  </div>
</div>
