<div class="dashboard-container">

  <!-- Sidebar -->
  <div class="sidebar" id="sidebar">
    <%= render 'shared/sidebar' %>
  </div>

  <!-- Main Content -->
  <div class="main-content" id="content">
    <%= render 'dashboards/show_content' %>
  </div>
</div>