<div class="card mx-5 px-5 fs-5">
  <p>We've estimated your current Basic Metabolic Rate as 2030 Kcal/day using the information provided</p>
  <p>We will be recommending you an exercise regime of around 50 minutes, 5 days per week</p>
  <p>As you lose weight your BMR will increase</p>

  <p>AI is generating your week's diet and exercise plans. This may take a few minutes as the AI analyzes your personal specifications and generates your personalised plans</p>
  <p><strong>Disclaimer:</strong> these are estimations we have caluclated based on the information you have supplied. Other factors may affect your BMR and it is recommended to seek the advice of a healthcare professional before following a diet and exercise regime.</p>


  <p><%= @profile.bmi %></p>
  <p><%= @profile.ideal_weight %></p>
  <p><%= @profile.daily_calories %></p>
  <%= link_to "Go to Dashboard", dashboard_path %>
</div>
