<div style="color: white">
  <p>We've estimated your current Basic Metabolic Rate (BMR) to be |insert bmr|</p>
  <p>We will be recommending you an exercise regime of around 45 minutes, 5 days per week</p>
  <p>Given this, we estimate that you should consume between |insert calories| calories per day</p>
  <p>As you lose weight your BMR will increase and therefore your recommended calorie intake will change</p>

  <p>AI is generating your week's diet and exercise plans. This may take a few minutes as the AI analyzes your personal specifications and generates your personalised plans</p>
  <p><strong>Disclaimer:</strong> these are estimations we have caluclated based on the information you have supplied. Other factors may affect your BMR and it is recommended to seek the advice of a healthcare professional before following a diet and exercise regime.</p>
  <%= button_to "Go to Dashboard", dashboard_path %>
</div>
