.dashboard-diet-plan {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: -191px auto;
  margin-bottom: auto;

  img {
    width: 300px;
    display: block;
    border-radius: 8px;
  }
}


// DIET PLAN RORY CSS

.diet-plan-container {
  display: flex;
  flex-wrap: wrap;
  margin: 8px;
  width: 90%;
  box-shadow: 3px 3px 12px rgba(0, 0, 0, 0.1);
  padding: 25px;
  margin-bottom: 25px;
  border-radius: 12px;
  background-color: rgb(250, 250, 250);
  border: 1px solid rgba(0, 0, 0, 0.656);
}

.diet-container-header {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.diet-container-image {
  order: 1;
  flex-basis: auto;
  width: 30%;
}

.diet-container-image img {
  width: 100%;
  height: 244px;
  border-radius: 8px;
  border: 2px solid rgba(201, 201, 201, 0.656);
}

.diet-container-body {
  order: 2;
  flex-basis: 66.66%;
  min-width: 52.66%;
  padding-left: 10px;
}

.diet-plan-name {
 margin-bottom: 20px;
}

.diet-container-titles,
.diet-symbols,
.prep-time,
.nutrition-pills {
  margin-bottom: 10px;
}

.nutrition-pills {
  display: flex;
  flex-direction: row;
  width: fit-content;
}

.nutrition-pill {
  flex-basis: 20%;
  background-color: #f9f4ad9d;
  color: black;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
  font-weight: bolder;
  border-radius: 8px;
  font-size: 12px; /* Adjust the font size as needed */
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);

  p {
    margin: 0;
  }
}

.diet-content {
  width: 100%;
  margin-top: 18px;
  display: flex;
  justify-content: space-around;
}

.diet-ingredient-content {
  flex-basis: 33.33%;
  max-width: 33.33%;
  min-width: 33.33%;
}

.diet-content-instructions {
  flex-basis: 66.66%;
  max-width: 56.66%;
  min-width: 56.66%;
}
