.primary-font {
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
}

#welcome-title {
  color: black;
}

.secondary-font {
  font-family: 'Montserrat Alternates', sans-serif;
  font-weight: medium;
}

.h-font {
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  color: black
}
