.primary-font {
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
}

#welcome-title {
  color: black;
  font-size: 58px;
  text-align: center;
}

.secondary-font {
  font-family: 'Montserrat Alternates', sans-serif;
  font-weight: medium;
}

.home-description {
  font-size: 22px;
}


.home-description li {
  margin-bottom: 50px;
}



.h-font {
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  color: black
}
