.more-information-btn {
  background-color: #ffef13;
  border-radius: 22px;
  color: #000;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  box-sizing: border-box;
  border: none;
  padding: 6px 12px;
  margin: 0 10px;
}
