.secondary-button {
  background-color: #ffff13;
  border-radius: 8px;
  color: #000;
  cursor: pointer;
  font-weight: medium;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  transition: 200ms;
  box-sizing: border-box;
  border: 0;
  font-size: 16px;
  user-select: none;
  margin: 0 10px;
  width: 250px;
  height: 50px;
  font-weight: bold;
}
