// @import 'primary_button';
// @import 'fonts';

.title {
  color: #ffffff;
  font-family: "Raleway", sans-serif;
}

.form-inputs {
  background-color: #ffffff;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.field-label {
  color: #808080;
  font-family: "Montserrat", sans-serif;
}

.input.string {
  input {
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
}

.form-actions {
  button {
    background-color: #ffff13;
    color: #000000;
    font-family: "Raleway", sans-serif;
  }
}
